/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/img
/public/js
/public/scss
/storage/*.key
/vendor
/public/css
/public/js
/public/fonts
/public/scss
/public/img
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
