.resize_image {
    width: 150px !important;
    height: 140px !important;
}

.alert_font {
    font-size: 18px;
    text-align: center;
}

.go_back {
    margin: 0 auto;
}

.cart_edit {
    color: rgb(255, 157, 0)
}

.cart_edit :visited :hover :active{
    color: rgb(223, 149, 30)
}

.cart_delete {
    color: rgb(230, 82, 14)
}

.cart_delete :visited :hover :active{
    color: rgb(185, 87, 42)
}

.shop_pagination {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.products-list {
    padding-top: 80px;
    padding-bottom: 80px;
}

.no_product {
    padding-top: 20px;
}

.resize_product_item {
    width: 255px !important;
    height: 255px !important;
}

.search-results-list {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.results-count {
    font-size: 18px;
}
